<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.suzume.xposed.xperiahomeflags"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="30+" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_description" />
    </application>

</manifest>